<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body style="background-color: black;">
    <div >
        <div class="flex items-center ">
            <p class="pl-2" ><h1 style="font-size: 20px;" class="pt-2 pb-2 ml-4 pl-4  text-center text-gray-100 font-bold font-mono border-indigo-700 pl-2 pr-2 rounded mt-2 mb-2">SSV.ITINFO</h1></p>
            <div class="pt-4 pb-4 pl-20 ml-[32%] flex  font-bold text-center text-gray-100 gap-4 font-semibold" >
                        <a class=" font-bold  pl-2 pr-2 pb-2 pt-2  font-bold  transition text-gray-100 rounded hover:text-red-800 hover:opacity-100    ease-in-out delay-150  hover:-translate-y-1 hover:scale-110  duration-300" href="/home/"><h1>Home</h1></a>
                        <a class=" font-bold pl-2 pr-2 pb-2 pt-2  transition ease-in-out delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300 " href="">Explore Courses</a>
                        <a class=" font-bold pl-2 pr-2 pb-2 pt-2  transition ease-in-out delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300 " href=""><h1>contact us </h1></a>
                        <a class=" font-bold pl-2 pr-2 pb-2 pt-2  transition ease-in-out delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300" href=""><h1>About us</h1></a>
                        <a class=" font-bold pl-2 pr-2 pb-2 pt-2  transition ease-in-out delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300 " href=""><h1>Help</h1></a>
                        <a class=" font-bold pl-2 pr-2 pb-2 pt-2  transition ease-in-out delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300" href=""><h1>My Courses</h1></a>
                        <a class=" font-bold pl-2 pr-2 pb-2 pt-2  transition ease-in-out delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300 " href=""><h1>settings</h1></a>
                        <a href="/login/">
                            <div  class="flex items-center pl-2 pr-2 pb-2 pt-2 decoration-4 transition ease-in-out  hover:transition duration-700  from-indigo-950 to-indigo-700 rounded-lg">
                                <p class="text-red-800 "><i class="fa-solid fa-circle-user"></i></p>
                                <h1 class="text-red-800 hover:text-red-700 font-bold pl-2" style="font-family: 15px;">Log in</h1>
                            </div>
                        </a>
    
            </div>
            
        </div>
    </div><br><br><br><br><br ><br>
    <div >
        <h1 class="text-white ml-36" style="font-family: serif; font-size:60px">Courses we offered</h1>
        <hr class="text-slate-500 mt-4 h-2 ml-28 mr-2  w-[35%] rounded bg-red-500">
    </div>
    <div class="mt-8 ml-16 border-2 border-slate-500 w-[90%]" style="height: 900px;">
        <div class="mt-8  ">
            <p class="bg-blue-500 text-center h-30 rounded pl-2 pr-2 pt-2 pb-2  w-32 ml-32 mt-16 text-black" style="font-size: 70px;"><i class="fa-brands fa-python"></i></p>
           
        </div>
        <hr class="text-slate-200 mt-16  h-1 bg-slate-500 "><br>
        <div style="position: relative;right:350px;bottom:303px">
            <p style="border-left: 2px solid ; position:absolute ;height:800px;left: 50% ;color:slategray;" class="ml-4 mt-4 mb-4 bg-slate-950" ></p>
        </div>
        <div style=" position:relative;bottom:200px;left:600px" class="flex gap-8">
            <div>
                <h1 class="text-white font-bold" style="font-size: 40px ; ">Python Full Stack</h1>
                <p class="text-red-500 font-bold mt-2 ml-4">New batch starts from 29<sup>th </sup>November</p>
            </div>
            <div>
                <p class="transition ease-in-out mt-8 delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300"><a href="/pythoncourse/" class="ml-80  bg-red-600 hover:bg-black hover:border-2 rounded pl-2 pr-2 pt-2 pb-2 text-white hover:font-bold hover:text-white hover:border-red-600">Enroll now</a></p>
            </div>
            
        </div>
        <div style="position:relative ;bottom:50px">
            <p class="bg-red-500 text-center h-30 rounded pl-2 pr-2 pt-2 pb-2  w-32 ml-32  text-black" style="font-size: 70px;"><i class="fa-brands fa-java"></i></p>
           
        </div>
        <hr class="text-slate-200 mt-8 h-1 bg-slate-500 "><br>
        <div style=" position:relative;bottom:200px;left:600px" class="flex gap-8">
            <div>
                <h1 class="text-white font-bold " style="font-size: 40px ; ">Java Full Stack</h1>
                <p class="text-red-500 font-bold mt-2 ml-4">New batch starts from 11<sup>th </sup>December</p>
            </div>
            <div>
                <p class="transition ease-in-out mt-8 delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300"><a href="/javacourse/" class="ml-80  bg-red-600 hover:bg-black hover:border-2 rounded pl-2 pr-2 pt-2 pb-2 text-white hover:font-bold hover:text-white hover:border-red-600">Enroll now</a></p>
            </div>
            
        </div>
        <div style="position:relative ;bottom:50px">
            <p class="bg-white text-center h-30 rounded pl-2 pr-2 pt-2 pb-2  w-32 ml-32  text-red-600" style="font-size: 70px;"><i class="fa-brands fa-aws"></i></p>
           
        </div>
        <hr class="text-slate-200 mt-8 h-1 bg-slate-500 "><br>
        <div style=" position:relative;bottom:200px;left:600px" class="flex gap-8">
            <div>
                <h1 class="text-white font-bold" style="font-size: 40px ; ">AWS with Devops</h1>
                <p class="text-red-500 font-bold mt-2 ml-4">New batch starts from 11<sup>th </sup>December</p>
            </div>
            <div>
                <p class="transition ease-in-out mt-8 delay-150 hover:text-red-800 hover:-translate-y-1 hover:scale-110 duration-300"><a href="/awscourse/" class="ml-80  bg-red-600 hover:bg-black hover:border-2 rounded pl-2 pr-2 pt-2 pb-2 text-white hover:font-bold hover:text-white hover:border-red-600">Enroll now</a></p>
            </div>
            
        </div>
    </div><br><br>
    
</body>
</html>